body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    border-radius: 8px;
    background: white;
    padding: 30px;
    width: 300px;
}

button {
    cursor: pointer;
    margin-top: 10px;
}

