body {
    height: 100vh;
}

ol {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

ol li {
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}

.counter {
    background: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
}

body main {
    width: 500px;
}

ol li:hover {
    opacity: 0.8;
}

ol li.expense {
    border-left:10px solid red;
}

ol li.income {
    border-left:10px solid greenyellow;
}


p {
    margin: 4px 0;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

/*
.update-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
    height: 30px;
}
*/